body {
  font-family: "DynaPuff", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffecf1;
  color: #b37d8b;
  max-width: 900px;
  margin: 0 auto;
}

#root {
  background-color: #ffb3bf;
  padding: 60px;
  border-radius: 20px;
  height: 100%;
  margin-top: 100px;
}

.header, .btn {
  text-align: center;
}

.img {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

h1 {
  margin-top: 50px;
}

p {
  font-size: 22px;
}

.dynapuff-font-style {
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
};


/* #no-btn {
  position: absolute;
  transition: 0.5s;
  height: 40px;
  width: 150px; */
/* }